<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%if (flash) { %>
    <h1><%= flash %></h1>
    <% } %>

    <%if (isAuthenticated) { %>
    <h1>hello: <%= user.name %> <a href="/users/logout">log out</a></h1>
    <% } %>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <br>

    <!--<p>Sign up</p>-->
    <!--<form action="/users/signup" method="POST">-->
      <!--Name:<br>-->
      <!--<input type="text" name="username">-->
      <!--<input type="text" name="password">-->
      <!--<input type="submit" value="Submit">-->
    <!--</form>-->

    <%if (!isAuthenticated) { %>
    <p>Login</p>
    <!--<form action="/users/login" method="POST">-->
      <!--Name:<br>-->
      <!--<input type="text" name="username">-->
      <!--<input type="text" name="password">-->
      <!--<input type="submit" value="Submit">-->
    <!--</form>-->
    <a href="/users/auth/facebook">Login with Facebook</a>
    <% } %>

  </body>
</html>
